/* -----------------CSS cho jquery------------------ */
.doimau {
    color:white;
    background: #0078D4 !important;
}
.display-block {
    display: block !important;
}
.mautrang1 {
    color: white !important;
}
.andi {
    opacity: 0 !important;
    visibility: hidden!important;
    display: none !important;
}
.hienlen
{
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}
.backgroundxamdam {
    background: #DADADA !important;
}
.backgroundxamdam-tieude {
    background: #d1d3d4 !important;
}
.backgroundxamnhat{
    background: #EAEAEA !important;
}
.phannoidungrightcontent li.tabhienlen {
	opacity: 1;
	visibility: visible;
}
.gachchan1 {
    border-bottom: 2px solid #0078D4;
}
.phannoidungrightcontent li {
    opacity: 0;
    visibility: hidden;
}
/* -----------------end CSS cho jquery---------------- */
.dropdown.dropmore {
    float: left;
}

.search .email1 {
    height: 30px;
    width: 140px;
    float: left;
    border: none;
    line-height: 30px;
}

.search i {
    float: left;
    margin: 0px 10px 0 0;
}

.rightoptionUser .listtop {
    float: left;
    height: 36px;
    line-height: 36px;
    width: 40px;
    margin-left: 6px;
    text-align: center;
    transform: translateY(2px);
}

.rightoptionUser .listtop:hover {
    background: #e5e5e5;
}

.rightoptionUser .filter {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding: 0 6px;
}

.rightoptionUser .filter:hover {
    background: #e5e5e5;
}

.rightoptionUser .filter i {transform: translateY(2px);font-size: 16px;font-weight: bold;}

.rightoptionUser .search {
    float: left;
    height: 36px;
    line-height: 36px;
    margin-top: 3px;
}
/* ----LeftoptionUser----- */
.divboleftoptionUser {
    position: relative;
}
.divboleftoptionUser .leftoptionUser {
    position: absolute;
}
.leftoptionUser1 {
    opacity: 0;
}
.leftoptionUser .iconmore {
    float: left;
    margin-left: 8px;
    height: 36px;
    width: 39px;
    text-align: center;
    padding-top: 8px;
}

.iconmore.dropdown-toggle::after {
    content: none;
}

.leftoptionUser .iconmore:hover {
    background: #e5e5e5;
}

.adduser {
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 5px;
    height: 36px;
    line-height: 36px;
    margin: 0 4px 0 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.adduser span {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.leftoptionUser .adduser i {
    font-size: 16px;
    font-weight: bold;
}

.leftoptionUser .adduser:hover {
    background: #e5e5e5;
}

.rightoptionUser {
    float: right;
}

.leftoptionUser {
    float: left;
}

a.lefttopcont, a.righttopcont {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 14px;
    color: rgb(116, 118, 124);
    font-weight: bold;
}

.topcontent {
    height: 48px;
    display: block;
    line-height: 48px;
    margin-top: 10px;
}

.activeUser {
    margin-top: 6px;
    margin-bottom: 2px;
    padding-bottom: 30px;   
    line-height: 36px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: black;font-size: 28px;font-weight: bold;}

.email1::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: bold;
    color:#000000;
}

.righttopcontent {
    float: right;
}

.lefttopcontent {
    float: left;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
} 
html,body {
    width: 100%;
    height: 100%;
}
.header,#header {
    width: 100%;
    height: 50px;
    background: #131212;
}
.leftsidebar,.sidebar {
    width: 280px;
    height: 100%;
    float: left;
    background: #e5e5e5;
    overflow: hidden;
    flex: 0 0 auto;
}
.maincontent 
{
    padding: 0 48px;
    flex: 1 1 auto;
    position: relative;
    margin-right: 48px;
}
/* menudropdown */


.optionUser {
    height: 40px;
}

.iconmore i.ms-Icon.ms-Icon--More {
    font-weight: bold;
}

a.dropdown-item.menudropd-item {
    padding: 5px 10px 5px 5px;
}

.menudropd-item i {
    margin: 0 10px 0 4px;
    width: 14px;
    font-weight: 600;
    color: rgb(0, 120, 212);
}

.menudropd {
    font-size: 14px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    border-radius: 0px;
    padding: 0px;
    transform: translateX(8px);
}
/* end menudropdown */
/* TableUser */
.bang_cot.bang_cot1 i.ms-Icon.ms-Icon--CircleRing {
    transform: scale(1.5);
    color: rgb(200, 200, 200);
}

.tableUser {
    margin-top: 11px;
}

td.cot_noidung.cot3_noidung, td.cot_noidung.cot4_noidung {
    font-size: 12px;
    padding: 0 0 0 14px;
}

tr.noidungbanguser {
    height: 48px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #F4F4F4;
}

tr.noidungbanguser:hover i.ms-Icon {
    opacity: 1;
}

tr.noidungbanguser:hover {
    background: #F4F4F4;
}

.rightusername .dropdown i.ms-Icon.ms-Icon--MoreVertical {
    margin: 0 18px 0 0px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.rightusername .dropdown {
    float: right;
}

.rightusername i.ms-Icon.ms-Icon--Permissions {
    float: left;
    color: rgb(16, 110, 190);
    font-size: 16px;
    margin: 3px 16px 0px 0px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}

.rightusername {
    display: block;
    float: right;
}

.noidungbanguser .username .leftusername {
    float: left;
    display: block;
}

.noidungbanguser td.cot1_noidung {
    font-size: 14px;
    height: 48px;
    width: 40px;
    line-height: 45px;
}

.noidungbanguser td.cot2_noidung {
    padding: 0 9px;
    font-size: 14px;
    font-weight: bold;
}

.thanhtieude i.ms-Icon.ms-Icon--ColumnOptions {float: left;font-size: 14px;margin-right: 6px;padding-left: 10px;}

.thanhtieude i.ms-Icon.ms-Icon--GripperBarVertical {
    transform: translateY(2px);
    margin-right: 2px;
    opacity: 0;
}
body,html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bang_cot.bang_cot3 i.ms-Icon.ms-Icon--GripperBarVertical {
    margin-right: 3px;
    height: 32px;
    transform: translateY(2px);
    opacity: 0;
}

tr.thanhtieude {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.bang_cot.bang_cot2 i.ms-Icon.ms-Icon--Up {
    margin-left: 5px;
    font-size: 10px;
}

.thanhtieude th.bang_cot {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thanhtieude i.ms-Icon.ms-Icon--LocationCircle {
    width: 18px;
    height: 18px;
}

th.bang_cot.bang_cot5 {width: 170px;}

th.bang_cot.bang_cot4 {
    width: 400px;
}

th.bang_cot.bang_cot4:hover i.ms-Icon {
    opacity: 1;
}

th.bang_cot.bang_cot3 {
    width: 400px;
}

th.bang_cot.bang_cot3:hover i.ms-Icon {
    opacity: 1;
}

th.bang_cot.bang_cot2 {
    width: 400px;
    padding-left: 11px;
}

th.bang_cot.bang_cot1, .noidungbanguser .cot1_noidung {
    width: 50px;
    text-align: center;
}


.noidungbanguser .cot_noidung.cot1_noidung i.ms-Icon.ms-Icon--CircleRing {
    transform: scale(1.33);
    color: rgb(200, 200, 200);
    margin-left: 1px;
}

.noidungbanguser .cot_noidung .boicon1 .ms-Icon.icontrong {
    transform: scale(0.8) !important;
}
.noidungbanguser .cot_noidung .iconchung1 .ms-Icon.icontrong {
    transform: scale(0.8) !important;
}

.thanhtieude th.bang_cot {
    box-sizing: border-box;
}

th.bang_cot.bang_cot1:hover {
    background: none;
}

th.bang_cot:hover {
    background: #F4F4F4;
}
/* End TableUser */
/* -----------------------------Menudropdown noidunguser---------------------------- */
*{
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i.ms-Icon.ms-Icon--CheckMark.icontrong {
    transition-delay: 0.4s;
    opacity: 0;
    transition: 1s;
}

.iconchung1 i.ms-Icon.ms-Icon--CheckMark.icontrong {
    position: absolute;
    margin: -15px 0 0 -5px;
}

.menu2dong-cot i.ms-Icon {
    color: rgb(0, 120, 212);
    width: 14px;
    margin: 0 7px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
}

.dropdown .dropdown-menu.menudrop2 {
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    border-radius: 0;
    box-sizing: border-box;
    width: 216px;
    transform: translateY(13px) translateX(-6px);
}

a.dropdown-item.menu2dong-cot:hover {
    background: #F4F4F4;
}

a.dropdown-item.menu2dong-cot {
    padding: 0;
    margin: 0;
}

.dropdown-menu.menudrop2 {margin: 0;padding: 0;}
/* -------------------------END_Menudropdown noidunguser----------------------- */
/* ----------------------NUT CHECK--------------------------------- */


i.ms-Icon.ms-Icon--CircleRing.iconngoai {
    position: absolute; 
    opacity: 0;
    transition: 0.2s;
}

.boicon1,.iconchung1 {
    position: relative;
}

.boicon1:hover i.iconngoai {
    opacity: 1;
}
.iconchung1:hover i.iconngoai {
    opacity: 1;
}

.boicon1:hover i.icontrong {
    opacity: 1;
}

.boicon1:hover .khungbenngoai {
    border: 2px solid rgb(200, 200, 200);
}
.iconchung1:hover i.icontrong {
    opacity: 1;
}
*{
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.khungbenngoai {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    margin: 14px 0 0 11px;
    border: 2px solid white;
    border-radius: 50%;
}

.iconchung1 .khungbenngoai {
    margin: -10px 0px 0px 11px;
}
/* --------------------------END NUT CHECK------------------------------- */
/* ----------------------------RIGHTMAINCONTENT------------------------- */


p.bottomrightmain {
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: rgb(16, 124, 16);
    margin-top: 7px;
}

i.ms-Icon.iconmain {
    color: black;
    font-size: 16px;
    line-height: 16px;
    margin: 0 4px;
    text-align: center;
    vertical-align: middle;
    height: 16px;
}

.righttopmaincontent {
    padding: 24px 0 0 20px;
}

.toprightmaincontent {
    display: flex;
}

h2.tendaidien {
    display: block;
    font-weight: bold;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.lefttopmaincontent a.thaydoianh {
    color: rgb(0, 120, 212);
    margin: 0px 0px 0px 15px;
    font-size: 12px;
}


.lefttopmaincontent {
    float: left;
    display: block;
}

.lefttopmaincontent .anhmain {
    margin: 24px 0 0 0;
    width: 100px;
    height: 100px;
    background: #00A300;
    border-radius: 50%;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
}

.leftmaincontent {
    position: absolute;
}

.rightmaincontent {
    width: 640px;
    background: white;
    height: 100%;
    position: fixed;
    right: 0;
    top: 50px;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px 0px;
    padding: 32px 40px 20px 40px;
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    z-index: 10;
}
/* ----------------------------END---RIGHTMAINCONTENT----------------------- */
/* ---------------------------TAB--Rightmaincontent----------------------- */


.phannoidungrightcontent {
    position: relative;
    box-sizing: border-box;
}

.phannoidungrightcontent ul li {
    list-style: none;
    margin: 25px 0 0 10px;
    position: absolute;
}

.phannuttieude {
    margin: 50px 0 0 10px;
    height: 40px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
}

.phannuttieude ul li {
    list-style: none;
    float: left;
    margin-right: 25px;
}
/* --------------------------END TAB--Rightmaincontent--------------------- */
/* ------------------------CSS CHO NOI DUNG TAB--------------------------- */


.chitietdong3 .chitietdongtrai {
    width: 50%;
}

.chumd1 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.chitietdong {
    width: 500px;
    display: flex;
}

.tennd {width: 50%;float: left;}

.chumauden1 {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    line-height: 16px;
    margin: 0;
}

.dongthu1 p.chumauden1 {
    display: inline;
}
.chitietdong2 {
    margin-top: 40px;
}
.chumauxam1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.chumauxanh1 {
    color: rgb(0, 120, 212);
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 0 0;
}
p.chumauxanh1.themauxanh1 {
    margin-top: 12px;
    margin-bottom: 100px;
}
p.chumauxam1.dongtrai2 {
    margin-bottom: 40px;
    margin-top: -12px;
}

p.tabchumauden {
    color: black;
    font-size: 12px;
}

p.dongphai2.tabchumauden {
    margin-top: 58px;
}
/* ------------------------END CSS CHO NOI DUNG TAB--------------------------- */